* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h4 {
  margin: 1em;
}

.productRow {
  display: flex;
  justify-content: space-between;
}
